<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <style>
        #h1 {
            font-size: 40px;
            text-align: center;
            border: double;
        }
    </style>
</head>
<body>
    <h1 id="h1">Szkoła Podstawowa nr 43</h1>
    
        @RenderBody()
</body>
</html>
