<style>
    p {
        color:mediumseagreen;
    }
    img {
        width:auto;
    }

    button {
        display: block;
        background-color:aqua;
    }
</style>
<body>
    <p>Budynek główny</p>
    <img src="~/images/szkola.jpg" alt="Budynek główny" /> <br />
    <p>Klasa nr 1 </p>
    <img src="~/images/szkola-klasa.jpg" alt="Zdjęcie klasy" />

    <button onclick="location.href='@Url.Action("Index","Home")'">Wróć</button>



</body>