<html>


<head>
    <style>
        * {
            box-sizing: border-box;
        }
        img {
           max-width: 30%;
           vertical-align:top;
           float:right;
        }
        #historia {
            width:70%;
            display:inline-block;
        }
        .opis {
            text-indent:2%;  
        }
        #nazwa {
            text-align:center;
            font-size:20px;
        }
     
    </style>
</head>
<body>
    <div id="nazwa">Historia Szkoły</div>
    
        <div id="historia">
            <p class="opis">
                W dniu 17 lipca 1917r. Deputacja Szkolna przy Magistracie miasta Pabianic podjęła decyzję o utworzeniu z dniem  1 września tego roku nowej szkoły powszechnej, której nadano nazwę „Miejska Szkoła Początkowa Nr 5”,
                a w 1918r. zmieniono na „Publiczną Szkołę Początkową Nr 5”. Początkowo mieściła się w pięciu izbach przy ul. Mariańskiej 4/6, w lewej oficynie budynku będącego własnością kościoła mariawickiego.
                W październiku 1924r. szkoła została przeniesiona do bliźniaczego budynku na rogu ulicy Zamkowej i Cerkiewnej i nadano jej imię Grzegorza Piramowicza, sekretarza Komisji Edukacji Narodowej.
                W części od ul. Poniatowskiego umiejscowiono Szkołę Nr 19, przemianowaną później na Szkole Powszechną Nr 11. Obok budynku szkolnego wybudowano dom dla kierowników i woźnych obydwu szkół.
                W 1928r. Na pierwszej jego stronie, na atłasowym, amarantowym tle wyhaftowano motywy kwiatow narcyzów z dekoracyjną wicią. W polu środkowym naszyto wyhaftowanego orła z koroną na głowie.
                Na drugiej stronie na jasnobeżowym tle z adamaszku wyhaftowane są ornamenty z kwiatów i wici dekoracyjnych oraz napis „Szkoła Powszechna Nr 5 w Pabianicach 1928”.  Sztandar ten zaginął w okresie wojny i został
                odnaleziony w 1994r. w archiwum II Liceum Ogólnokształcącego im. Królowej Jadwigii w Pabianicach. Odświeżony sztandar znajduje się w gablocie pracowni polonistyczno – historycznej.
            </p>
            
            <p class="opis">
                Do 1936r. szkoła pełniła rolę szkoły ćwiczeń dla przyszłych nauczycieli, kształconych w Miejskim Koedukacyjnym Seminarium Nauczycielskim.
                W okresie drugiej wojny światowej istniała do 18 stycznia 1940r., kiedy zamknięto wszystkie szkoły dla dzieci polskich na terenach wcielonych do Rzeszy. W styczniu 1945r. trzy bomby poważnie uszkodziły budynki.
                Nauka w szkole rozpoczęła się już 15 lutego 1945. Zorganizowano osiem oddziałów dla 429 uczniów. Na terenie obiektu nadal funkcjonowały dwie szkoły , a w roku szkolnym 1947/48 dołączono do nich Gimnazjum i Liceum im. Jędrzeja Śniadeckiego,
                tworząc I Państwową 11-letnią Szkołę Ogólnokształcącą. Personel liczył 32 osoby, uczniowie mieli lekcje na dwie zmiany.W siedemnastu izbach uczyły się 24 oddziały, z tym że podstawówka obejmowała klasy I – VII, a średnia VIII – XI..
            </p>
           <p class="opis"> 
                Od 1949 do końca istnienia szkoły nosiła ona nazwę Jedenastoletniej Szkoły Ogólnokształcącej Stopnia Podstawowego im. J. Śniadeckiego. „Piątkę” wyodrębniono już w roku szkolnym 1953/54, a „11”  w 1955r.
                Gmach „5’ został odnowiony w 1974r. Dom nauczyciela znajdujący się obok budynku szkolnego zaadoptowano na bibliotekę, izbę harcerską, gabinety lekarskie oraz stołówkę i kuchnię. We wrześniu 1978r. „SP 11” włączono do Szkoły Nr 5,
                która przejęła i użytkuje do dzisiaj obydwa bliźniacze obiekty, budynek sali gimnastycznej, łączący „bliźniaki” oraz budynek stołówki (dawny  dom nauczycieli).
            </p>
        </div>
   
    <img src="~/images/szfi.jpg" />
</body>
</html>