<html>
<head>
    <style>
        body {
            font-family: didot;
        }

        a {
            font-size: 25px;
            display: block;
        }

        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }
    </style>
</head>

<body>
    <h1>Witaj Szkoło!</h1> 
        <ul>
            <li><a href="/Home/PlanLekcji">Plan lekcji</a></li>
            <li><a href="/Home/Galeria">Galeria</a></li>
            <li><a href="/home/HistoriaSzkoły">Historia szkoły</a></li>
            <li><a>Patron</a></li>
            <li><a>Znani Absolwenci</a></li>
            <li><a>Nauczyciele</a></li>
            <li><a>Kontakt</a></li>
            <li><a>Dojazd</a></li>
        </ul>
</body>
</html>
