<html>
<head>
    <style>
        body {
           
            color: darkgoldenrod;
            font-family: didot;
        
 
       }
        a {font-size:25px; display:block;}

        h1 {color:midnightblue; text-align:center;
        }
    </style>

</head>

<body>
    <h1> Witaj Szkoło!</h1>
    <a href="/Home/PlanLekcji">Plan lekcji</a>
    <a href="/Home/Galeria">Galeria</a>
    <a>Historia szkoły</a>
    <a>Patron</a>
    <a>Znani Absolwenci</a>
    <a>Nauczyciele</a>
    <a>Kontakt</a>
    <a>Dojazd</a>
</body>






















</html>