<html>
<head>
    <style>
       body {
            background-color:lightsteelblue;
            color:darkgoldenrod;
            font-family:Jokerman;

       }
        a {font-size:25px; display:block;}

        h1 {color:midnightblue; text-align:center;
        }
    </style>




</head>

<body>
    <h1> Witaj Szkoło!</h1>
    <a href="/Home/PlanLekcji">Plan lekcji</a>
    <a href="/Home/PlanLekcji">Galeria</a>
</body>






















</html>