<style>
    h2 {color:darkgoldenrod; text-align:center; font-size:large; font-family:Gadugi;}
</style>
<h2>Plan Lekcji</h2>
<table style="width:100%">
    <tr>
        <th>Poniedziałek</th>
        <th>Wtorek</th>
        <th>Środa</th>
        <th>Czwartek</th>
        <th>Piątek</th>
    </tr>













</table>
