@model AppTest1.Models.ViewModels.HomeViewModel
<html>
<head>


    <style>
        * {
            box-sizing: border-box;
        }

        h2 {
            text-align: center;
            font-size: 20px;
            font-family: Gadugi;
        }

        table, th, td {
            border-collapse: collapse;
            border: 1px solid black;
            width: 20%;
        }

        table {
            display: inline;
            float: left;
        }

        button {
            display: block;
        }

        @@media screen and (max-width:500px) {
            table {
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <h2>Plan Lekcji</h2>
    <table id="monday">
        <tr>
            <th>Poniedziałek</th>
        </tr>
       
    </table>
    <button onclick="location.href='@Url.Action("Index", "Home")'">Wróć</button>
    <button onclick="ajaxCall()">Qtas</button>
</body>
</html>
<script>
    $(document).ready(ajaxCall())
    
    function ajaxCall() {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Monday", "Home")',
            success: function (result) {
                table(result);   
            }
            });
    }

    function table(lista) {
        for (var i = 0; i < lista.length; i++) {
            $('#monday').append('<tr><th>' + lista[i]+'</th></tr>')
        }
    }















    @*$(document).ready(function () {
        ajaxCall();
    });

    function addRowsToTable(lista) {
        for (var i = 0; i < lista.length; i++) {
            $("#monday").append("<tr><td>" + lista[i] + "</td></tr>");
        }
    }

    function ajaxCall() {
    $.ajax({
        type: 'GET',
        url: '@Url.Action("Monday", "Home")',
        success: function (result) {
            addRowsToTable(result);
        }
        });
    }

        function ajaxPost(pierwsze, drugie) {
        $.ajax({
        type: 'POST',
        url: '@Url.Action("PlanLekcji", "Home")',
        data: { first: pierwsze, second: drugie},
        success: function (result) {
            addRowsToTable(result);
        }
        });
    }*@

    
</script>