<style>
    * {
        box-sizing:border-box;
    }
    body {
        background-color: seagreen;
    }

    h2 {
        color: darkgoldenrod;
        text-align: center;
        font-size: large;
        font-family: Gadugi;
    }

    table, th, td {
        border-collapse: collapse;
        background-color: black;
        color: floralwhite;
        border: 2px solid blue;
        width:20%;
    }

    table {
        display: inline;
        float: left;
    }

    @@media screen and (max-width:500px) {
        table {
            width: 100%;
        }
    }
</style>
<h2>Plan Lekcji</h2>
<table>
    <tr>
        <th>Poniedziałek</th>
    </tr>
    <tr>
        <th>Matematyka</th>
    </tr>
    <tr>
        <th>Język Polski</th>
    </tr>
    <tr>
        <th>Geografia</th>
    </tr>
    <tr>
        <th>WF</th>
    </tr>
</table>
<table>
    <tr>
        <th>Poniedziałek</th>
    </tr>
    <tr>
        <th>Matematyka</th>
    </tr>
    <tr>
        <th>Język Polski</th>
    </tr>
    <tr>
        <th>Geografia</th>
    </tr>
    <tr>
        <th>WF</th>
    </tr>
</table>
<table>
    <tr>
        <th>Poniedziałek</th>
    </tr>
    <tr>
        <th>Matematyka</th>
    </tr>
    <tr>
        <th>Język Polski</th>
    </tr>
    <tr>
        <th>Geografia</th>
    </tr>
    <tr>
        <th>WF</th>
    </tr>
</table>
<table>
    <tr>
        <th>Poniedziałek</th>
    </tr>
    <tr>
        <th>Matematyka</th>
    </tr>
    <tr>
        <th>Język Polski</th>
    </tr>
    <tr>
        <th>Geografia</th>
    </tr>
    <tr>
        <th>WF</th>
    </tr>
</table>
<table>
    <tr>
        <th>Poniedziałek</th>
    </tr>
    <tr>
        <th>Matematyka</th>
    </tr>
    <tr>
        <th>Język Polski</th>
    </tr>
    <tr>
        <th>Geografia</th>
    </tr>
    <tr>
        <th>WF</th>
    </tr>
</table>

